{% extends '@Front/base.html.twig' %}

{% block title %}Stránka nenalezena{% endblock %}

{% block body %}
    <h1 class="error-title">Došlo k chybě, kontaktujte prosím administrátora.</h1>
{% endblock %}
