{% extends '@Editorial/base.html.twig' %}

{% block title %}Přístup odepřen{% endblock %}

{% block content %}
    <h1 class="error-title">Je nám líto, ale nemáte dostatečná práva na přístup k požadované stránce</h1>
{% endblock %}
