{% extends '@Front/base.html.twig' %}

{% block title %}Stránka nenalezena{% endblock %}

{% block body %}
    <h1 class="error-title">Je nám líto, ale požadovaná stránka nebyla nalezena</h1>
{% endblock %}
