/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!/var/uploads/
/var/uploads/articles/*
/var/uploads/magazines/*
!/var/uploads/articles/.gitkeep
!/var/uploads/magazines/.gitkeep
/var/uploads/articles_test/*
/var/uploads/magazines_test/*
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/
