<li>
    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fas fa-tools"></i>
        Admin
    </a>
    <ul class="collapse list-unstyled" id="homeSubmenu">
        <li>
            <a href="{{ path('admin_user_list') }}">Uživatelé</a>
        </li>
    </ul>
</li>
