<li>
    <a href="#authorSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fas fa-pencil-alt"></i>
        Autor
    </a>
    <ul class="collapse list-unstyled" id="authorSubmenu">
        <li>
            <a href="{{ path('author_article_create') }}">Vytvořit článek</a>
        </li>
    </ul>
</li>
