<li>
    <a href="#chiefEditorSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fas fa-glasses"></i>
        Šéfredaktor
    </a>
    <ul class="collapse list-unstyled" id="chiefEditorSubmenu">
        <li>
            <a href="{{ path('chief_editor_magazine_list') }}">Čísla časopisu</a>
        </li>
    </ul>
</li>
