<li>
    <a href="#helpDeskSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <i class="fas fa-question"></i>
        Helpdesk
    </a>
    <ul class="collapse list-unstyled" id="helpDeskSubmenu">
        <li>
            <a href="{{ path('help_desk_unanswered') }}">Nezodpovězené</a>
        </li>
        <li>
            <a href="{{ path('help_desk_answered') }}">Zodpovězené</a>
        </li>
    </ul>
</li>
