{% extends '@Front/base.html.twig' %}

{% block title %}Logos Polytechnikos{% endblock %}

{% block body %}
    <h1>Logos Polytechnikos</h1>
    <ul>
        <li><a href="{{ path('cisla_casopisu') }}">Čísla časopisu</a></li>
    </ul>
{% endblock %}
