{% extends '@Front/base.html.twig' %}

{% block title %}Logos Polytechnikos{% endblock %}

{% block body %}
    <h1>Logos Polytechnikos</h1>
    <ul class="homepage-link-group">
        <li><a href="{{ path('o-casopise') }}">O časopise</a></li>
        <li><a href="{{ path('cisla_casopisu') }}">Čísla časopisu</a></li>
        <li><a href="{{ path('editorial_dashboard') }}">Redakce</a></li>
    </ul>
{% endblock %}
