{% extends '@Front/base.html.twig' %}

{% block title %}O časopise{% endblock %}

{% block body %}
<h1>LOGOS POLYTECHNIKOS</h1>
        <p>
            <b>LOGOS POLYTECHNIKOS je vysokoškolský odborný recenzovaný časopis</b>,
            který slouží pro publikační aktivity akademických pracovníků Vysoké školy polytechnické Jihlava i jiných vysokých škol,
            univerzit a výzkumných organizací. Je veden na seznamu recenzovaných odborných a vědeckých časopisů
            <b>ERIH PLUS</b> - <a href="https://dbh.nsd.uib.no/publiseringskanaler/erihplus/periodical/info?id=488187">European Reference Index for the Humanities and the Social Sciences</a>.
        </p>

        <p>
            Od roku 2010 do roku 2018 byl časopis vydáván čtyřikrát ročně v elektronické a tištěné podobě.
            Od roku 2019 vychází třikrát ročně v elektronické verzi. Redakční rada časopisu sestává z interních i externích odborníků.
            Funkci šéfredaktora zastává prorektor pro tvůrčí a projektovou činnost Vysoké školy polytechnické Jihlava.
            Funkce odpovědných redaktorů jednotlivých čísel přísluší vedoucím kateder Vysoké školy polytechnické Jihlava.
            Veškeré vydávané příspěvky prochází recenzním řízením a jsou pečlivě redigovány.
        </p>

        <p>
            <b>Tematické a obsahové zaměření časopisu</b> reflektuje potřeby oborových kateder Vysoké školy polytechnické Jihlava.
            Na základě souhlasu odpovědného redaktora mohou katedry poskytnout publikační prostor i odborníkům bez zaměstnanecké vazby k Vysoké škole polytechnické Jihlava.
        </p>

        <p>
            <b>V časopise je možné publikovat</b> odborné články, statě, přehledové studie, recenze a další typy odborných příspěvků v českém, slovenském a anglickém jazyce.
            Do recenzního řízení jsou přijímány příspěvky tematicky odpovídající zaměření časopisu a formálně upravené dle redakční šablony (viz. níže).
        </p>

        <h3>Pro autory (přispěvatele)</h3>
        <a href="{{ asset('bundles/front/docs/pokyny.pdf') }}">Pokyny pro přispěvatele</a><br />
        <a href="{{ asset('bundles/front/docs/sablona.docx') }}">Šablona</a><br />
        <a href="{{ asset('bundles/front/docs/recenzni_rizeni.pdf') }}">Recenzní řízení</a><br />

        <h3>Jazyky, ve kterých lze publikovat:</h3>
        angličtina, čeština a slovenština

        <h3>Termíny uzávěrek pro sběr příspěvků:</h3>
        <ul>
            <li>3/2019 - ekonomika, management, marketing, statistika, operační výzkum, finanční matematika, pojišťovnictví, cestovní ruch, regionální rozvoj, veřejná správa (31. 8. 2019)</li>
            <li>1/2020 - ošetřovatelství, porodní asistence a další zdravotnické obory (31. 12. 2019)</li>
            <li>2/2020 - ošetřovatelství, porodní asistence a další zdravotnické obory, sociologie, sport, psychologie, sociální práce (30. 4. 2020)</li>
        </ul>

        <p>Pokud rozsah doručených příspěvků překročí kapacitu příslušného vydání, bude přijímání příspěvků ukončeno před uvedeným termínem.</p>

        <p>Adresa nakladatele: Vysoká škola polytechnická Jihlava, redakce LOGOS POLYTECHNIKOS, Tolstého 1556/16, 586 01 Jihlava</p>

        <b>ISSN 2464-7551 (Online)</b>

        <h3>Šéfredaktor</h3>
        doc. Ing. Zdeněk Horák, Ph.D. (Vysoká škola polytechnická Jihlava)

        <h3>Redakční rada</h3>
        prof. PhDr. RNDr. Martin Boltižiar, PhD. (Univerzita Konštantína Filozofa v Nitre)<br />
        prof. RNDr. Helena Brožová, CSc. (Česká zemědělská univerzita v Praze)<br />
        doc. PhDr. Lada Cetlová, PhD. (Vysoká škola polytechnická Jihlava)<br />
        prof. Mgr. Ing. Martin Dlouhý, Dr. MSc. (Vysoká škola ekonomická v Praze)<br />
        prof. Ing. Tomáš Dostál, DrSc. (Vysoká škola polytechnická Jihlava)<br />
        doc. Ing. Jiří Dušek, Ph.D. (Vysoká škola evropských a regionálních studií)<br />
        doc. RNDr. Petr Gurka, CSc. (Vysoká škola polytechnická Jihlava)<br />
        Ing. Veronika Hedija, Ph.D. (Vysoká škola polytechnická Jihlava)<br />
        doc. Ing. Zdeněk Horák, Ph.D. (Vysoká škola polytechnická Jihlava)<br />
        Ing. Ivica Linderová, PhD. (Vysoká škola polytechnická Jihlava)<br />
        prof. MUDr. Aleš Roztočil, CSc. (Vysoká škola polytechnická Jihlava)<br />
        doc. PhDr. David Urban, Ph.D. (Vysoká škola polytechnická Jihlava)<br />
        doc. Dr. Ing. Jan Voráček, CSc. (Vysoká škola polytechnická Jihlava)<br />
        RNDr. PaedDr. Ján Veselovský, PhD. (Univerzita Konštantína Filozofa v Nitre)<br />
        doc. Ing. Libor Žídek, Ph.D. (Masarykova univerzita Brno)<br />
{% endblock %}



