Dobrý den,<br>
<br>
pro článek {{ article.name }} je vyžadován zásah šéfredaktora.<br>
<br>
Detail článku nalzenete na <a href="{{ url('article_detail', {id: article.id}) }}">{{ url('article_detail', {id: article.id}) }}</a>
