<p>
    Dobrý den,<br/>
    zasíláme Vám odpověď na vaši zprávu ze dne {{ message.created|date('d. m. Y') }}.
</p>
<br>
<h2>Vaše zpráva:</h2>
<p>{{ message.message }}</p>
<br>
<h2>Odpověď:</h2>
<p>{{ message.answer }}</p>
<br>
<p>Logos Polytechnikos</p>
