Dobrý den<br>
<br>
Bylo přidáno nové hodnocení vašeho článku "{{ review.articleName }}".<br>
<br>
Hodnocení Vašich článků naleznete v autorské sekci: <a href="{{ url('author_articles_list') }}">{{ url('author_articles_list') }}</a><br>
<br>
Logos Polytechnikos<br>
